@import "./hl/Tomorrow.css";

html {
    /*filter: hue-rotate(180deg);*/
    background-color: black;
    color: white;
    color-scheme: dark;
}


body {
    width: 100vw;
    height: 100vh;
    margin:0px;
}

select > .hopt {
    font-weight: bold;
    font-style: italic;
}
select > :not(.hopt) {
    padding-left: 50px;
}

.success {
    background-color: #003200;
}
.error {
    background-color: OrangeRed;
}

.editor {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;

    & > div {
        min-height: 0;
        min-width: 0;

        position: relative;

        & > strong {
            display: block;
            width: 100%;
            text-align: center;
        }

        & > pre {
            border : 1px solid black;
            display: block;
            padding: 15px;
            margin: 0px;

            height: calc(100% - 1.5rem - 30px);
            overflow-y: auto;

            & > div {
                min-height: 1rem;
            }
        }

        & > div.python {

            overflow-y: auto;
            height: calc(100% - 2rem);
            position: relative;

            & > #python {
                background-color: black;
            }

            & > :is(#python, .python_ouput) {

                overflow-y: visible;

                box-sizing: border-box;

                width: 100%;
                padding: 15px;

                min-height: 100%;

                &.python_ouput {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }
            }
        }
        & > div.python > #python:not(:focus) {
            opacity: 0;
        }
    }

    & * > *:not(textarea) {
        border: 1px solid transparent;
    }

    & .highlight {
        background-color: yellow;

        & > * {
            background-color: orange;
            border: 1px solid black;
        }
    }
}